<link type="text/css" rel="stylesheet" href="/assets/css/fli.css" />
<footer class="footer">
  <div class="container">
    <div class="columns is-desktop">
      <div class="column">
        <p class="title is-5 has-text-white-ter">
          <span
            ><strong
              ><span class="icon"><i class="fas fa-home"></i></span>&ensp;АДИ
              ГОУВПО "ДОННТУ"</strong
            ></span
          ><br />
        </p>
        <a class="o" href="/">
          <figure class="image is-96x96">
            <img src="/img/adilogo.png" alt="АДИ ДОННТУ" />
          </figure>
        </a>
        <br />
        <p class="has-text-white-ter">
          Автомобильно-дорожный институт Государственного образовательного
          учреждения высшего профессионального образования «Донецкий
          национальный университет»
        </p>
      </div>
      <div class="column">
        <p class="title is-5 has-text-white-ter">
          <span
            ><strong
              ><span class="icon"><i class="fas fa-map"></i></span>&ensp;Карта
              сайта</strong
            ></span
          ><br />
        </p>
        <ul class="has-text-grey-lighter">
          <li>
            <a class="o" href="/requirements.html"
              ><i class="fas fa-edit fa-fw"></i>&ensp;Приёмная комиссия</a
            >
          </li>
          <li>
            <a class="o" href="/ru/dep/nich"
              ><i class="fas fa-edit fa-fw"></i>&ensp;Научно-исследовательская
              часть</a
            >
          </li>
          <li>
            <a class="o" href="/ru/dep/cict"
              ><i class="fas fa-file-word fa-fw"></i>&ensp;Центр информационных
              компьютерных технологий</a
            >
          </li>
          <li>
            <a class="o" href="/periodicity.html"
              ><i class="fas fa-clock fa-fw"></i>&ensp;Отдел Администрирования и
              WEB-технологий</a
            >
          </li>
          <li>
            <a class="o" href="/editorial-team.html"
              ><i class="fas fa-user-edit fa-fw"></i>&ensp;Центр международного
              и последипломного образования</a
            >
          </li>
          <li>
            <a class="o" href="/varia.html"
              ><i class="fas fa-pen-square fa-fw"></i>&ensp;Профсоюз</a
            >
          </li>
          <li>
            <a class="o" href="/contact.html"
              ><i class="fas fa-id-card fa-fw"></i>&ensp;Центр ОМОРОМ</a
            >
          </li>
          <li>
            <a class="o" href="/ru/dep/rio"
              ><i class="fas fa-file-archive fa-fw"></i
              >&ensp;Редакционно-издательский отдел</a
            >
          </li>
          <li>
            <a class="o" href="/ru/dep/library"
              ><i class="fas fa-pen-square fa-fw"></i>&ensp;Библиотека</a
            >
          </li>
        </ul>
      </div>
      <div class="column">
        <p class="title is-5 has-text-white-ter">
          <span
            ><strong
              ><span class="icon"><i class="fas fa-share-alt"></i></span
              >&ensp;Подписывайтесь на нас</strong
            ></span
          ><br />
        </p>
        <p>
          <a href="https://ok.ru/group/53734327386343"
            ><img class="footer-logo" src="/img/Social/OK.png" alt="ОК" />
          </a>
          <a href="https://vk.com/adidonntu"
            ><img class="footer-logo" src="/img/Social/VK.png" alt="VK" />
          </a>
          <a href="https://rutube.ru/channel/23472888/"
            ><img class="footer-logo" src="/img/Social/Rutube.png" alt="Rutube" />
          </a>
          <a href="https://t.me/adidonntu1959"
            ><img class="footer-logo" src="/img/Social/Telegram.png" alt="Telegram" />
          </a>
          <a href="https://dzen.ru/adidonntu"
            ><img class="footer-logo" src="/img/Social/Dzen.png" alt="Dzen" />
          </a>
          <!-- <a href="https://vk.com/adidonntu"
            ><i class="fa-brands fa-vk fa-fw fa-2x"></i
          ></a>
          <a href="https://t.me/adidonntu1959"
            ><i class="fa-brands fa-telegram fa-fw fa-2x"></i
          ></a>
          <a href="https://ok.ru/group/53734327386343"
            ><i class="fa-brands fa-odnoklassniki fa-fw fa-2x"></i
          ></a>
          <a href="https://rutube.ru/channel/23472888/"
            ><i class="fa-solid fa-r fa-fw fa-2x"></i
          ></a>
          <a href="https://www.youtube.com/channel/UCT-33SwWOzDEzBf9lSbXcoA"
            ><i class="fa-brands fa-youtube fa-fw fa-2x"></i
          ></a> -->
        </p>
        <br />
        <br />
        <p class="title is-5 has-text-white-ter">
          <span
            ><strong
              ><span class="icon"><i class="fas fa-id-card"></i></span
              >&ensp;Контакты</strong
            ></span
          ><br />
        </p>
        <p class="has-text-white-ter">
          Автомобильно-дорожный институт ГОУВПО «ДОННТУ»<br />
          ул. Кирова, 51, г. Горловка, 84646<br />
          <i class="fas fa-phone"></i>&emsp;Телефон:<br />
          +38 (0624)55-33-22 (приемная директора)<br />
          +38 (0624)55-27-03 (канцелярия)<br />
          +38 (0624)55-36-25 (отборочная комиссия)<br />
          <i class="fas fa-envelope-open-text"></i>&emsp;E-mail:&emsp;<a
            class="o"
            href="mailto:inst@adidonntu.ru"
            >inst@adidonntu.ru</a
          ><br />
        </p>
      </div>
    </div>
    <div class="bottom has-text-centered has-text-white-ter">
      <span
        ><i class="far fa-copyright"></i> 2023 Автомобильно-дорожный институт
        ГОУВПО «ДОННТУ»</span
      ><br />
      <span
        ><i class="far fa-copyright"></i> 2023 Центр информационных компьютерных
        технологий АДИ ГОУВПО «ДОННТУ»</span
      ><br />
      <span
        ><i class="far fa-copyright"></i> 2023
        <a class="o" href="mailto:kirill.a.kirillov@gmail.com"
          >Кирилл А. Кириллов</a
        ></span
      ><br />
      <a class="o" href="https://creativecommons.org/licenses/by/4.0/"
        >Условия использования материалов</a
      >
      |
      <a class="o" href="/privacy">Конфиденциальность</a>
    </div>
  </div>
</footer>
