<!-- <nav class="navbar is-primary">
    <div class="container">
  <div class="navbar-brand">
      <a href="#" itemprop="copy" class="navbar-item is-hidden-desktop bvi-open bvi-tts" title="Версия сайта для слабовидящих"><i class="far fa-eye"></i>&emsp;Версия сайта для слабовидящих</a>
    <div class="navbar-burger burger" data-target="navMenubd-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
    <div id="navMenubd-example" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item " href="/abiturient/2023">
        <i class="fas fa-university"></i>&emsp;Абитуриенту 2023
      </a>
      <a class="navbar-item " href="#">
        <i class="fas fa-user-graduate"></i>&emsp;Студенту
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">
          <i class="fas fa-atom"></i>&emsp;Наука
        </div>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item " href="/ru/scientificachievements/">Научные достижения</a>
          <a class="navbar-item " href="#">Конференции</a>
          <a class="navbar-item " href="#">Олимпиады</a>
          <a class="navbar-item " href="#">Конкурсы</a>
        </div>
      </div>
      <a class="navbar-item " href="/ru/eios/">
        <i class="fab fa-cloudversify"></i>&emsp;ЭИОС
      </a>
      <a class="navbar-item " href="/ru/dep/library">
        <i class="fas fa-book-reader"></i>&emsp;Библиотека
      </a>

    </div>
    
<div class="navbar-end ">
      <a href="#" itemprop="copy" class="navbar-item is-hidden-touch bvi-open bvi-tts" title="Версия сайта для слабовидящих"><i class="far fa-eye"></i>&emsp;Версия сайта для слабовидящих</a>
</div>
  
  </div>
</div>

</nav> -->
