<style type="text/css">
.navbar-br {
  width: 100%;
}

.navbar-br {
  flex-wrap: wrap;
}

.navbar-br {
  justify-content: space-between;
}
</style>

<nav class="navbar-br" role="navigation" aria-label="main navigation">
  <div class="navbar-br">
    <a class="navbar-item">Автомобильно-дорожный институт ГОУВПО "ДонНТУ"</a>
    <a class="navbar-item is-hidden-touch">
      <img src="/img/adi-logo.png" alt="АДИ ДонНТУ" width="112" height="28">
    </a>
    <button class="button navbar-burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <a class="navbar-item">Item 1</a>
      <a class="navbar-item">Item 2</a>
      <a class="navbar-item">Item 3</a>
      <a class="navbar-item">Item 4</a>
      <a class="navbar-item">Item 5</a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item">Logged in</a>
    </div>
  </div>
</nav>