<div class="card">
    <div class="card-content">
    {% if post.image %}
    <div class="card-image">
        <img src="{{ post.image }}" alt="{{ post.title }}">
    </div>
    {% else %}
    <header class="card-header">
        <a class="card-header-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a>
    </header>
    {% endif %}
    <div class="card-content">
        <div class="content">
            {% if post.image %}
            <a class="title is-6" href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a>
            {% endif %}
            <p>{{ post.excerpt }}</p>
        </div>
        <div class="has-text-centered">
            <a href="{{ site.baseurl }}{{ post.url }}" class="button is-primary">Читать далее</a>
        </div>
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">Опубликовано: {{ post.date | date: "%-d" }} {% assign m = post.date | date: "%-m", %} 
{% case m %}
  {% when '1' %}Января
  {% when '2' %}Февраля
  {% when '3' %}Марта
  {% when '4' %}Апреля
  {% when '5' %}Мая
  {% when '6' %}Июня
  {% when '7' %}Июля
  {% when '8' %}Августа
  {% when '9' %}Сентября
  {% when '10' %}Октября
  {% when '11' %}Ноября
  {% when '12' %}Декабря
{% endcase %} {{ post.date | date: "%Y" }}
</p>

    </footer>
</div>
</div>