---
---
$primary: #336666;
$text: #336666;
$text-light: #336666;
$text-strong: #336666;
$title-color: #336666;
$navbar-item-color: #336666;
$link: #336699;
$tabs-link-active-color: #336699;
$tabs-link-active-border-bottom-color: #6699CC;
$footer-background-color: #003333;
$footer-padding: 3rem 1.5rem 3rem;
$footer-color: true;
$box-radius: 0px;
$card-footer-padding: 12px 0 0 0;
// Import Main CSS file from theme
@import "main";
